#side-pane {
    position: relative;
    top: 8px;
    left: 8px;
    background-color: white;
    color: black;
    min-width: 220px;
    width: 20vw;
    padding: 22px;
    border-radius: 12px;
    opacity: 0;
    pointer-events: none;
}

#side-pane-header {
    font-weight: 700;
}

.score-section-year {
    margin: 12px 0px;
}

.score-title {
    font-size: 20px;
}

.score-text {
    font-weight: 600;
    font-size: 28px;
}
