{% extends "__layout.html" %}

{% block pageheader %}
<link rel="stylesheet" href="{{ url_for('static', filename='side.css') }}">

<script>
    var lat = Number("{{ geocode[0] }}")
    var lon = Number("{{ geocode[1] }}")
    console.log('TEST TEST')
    console.log(lat)
    console.log(lon)
    var currentYear = Number("{{ year }}")

    var coordinates = JSON.parse('{{ coordinates|safe }}')

    var tleft = coordinates[0]
    var bright = coordinates[1]
    var initialZoom = Number("{{ zoom }}")
</script>
{% endblock %}

{% block navigation %}
<li class="nav-item active">
    <a class="nav-link" href="#">App <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/whyus">About Us</a>
</li>
{% endblock %}

{% block pagecontent %}
<div id="main-map"></div>

<div id="side-pane" class="sidebar">
    <div id="side-pane-content">
        <h1 id="side-pane-header">Area 1</h1>
        <div class="score-section-year">
            <h3 class="score-title">Showing scores for:</h3>
            <h2 class="score-text">{{ year }}</h2>
            <button type="button" class="btn btn-outline-secondary" onclick="prevYear()"> - </button>
            <button type="button" class="btn btn-outline-secondary" onclick="nextYear()"> + </button>
        </div>
        <br>
        <div>
            <h3 class="score-title">Vegetation Score (0-1)</h3>
            {% if vegetation_score > 0.7 %}
                <h2 class="score-text text-success">{{ vegetation_score }} (Good)</h2>
            {% elif vegetation_score > 0.4 %}
                <h2 class="score-text text-warning">{{ vegetation_score }} (Average)</h2>
            {% else %}
                <h2 class="score-text text-danger">{{ vegetation_score }} (Poor)</h2>
            {% endif %}
        </div>
        <br>
        <div>
            <h3 class="score-title">Industrialisation Score (0-1)</h3>
            {% if industrialisation_score > 0.7 %}
                <h2 class="score-text">{{ industrialisation_score }} (High)</h2>
            {% elif industrialisation_score > 0.4 %}
                <h2 class="score-text">{{ industrialisation_score }} (Medium)</h2>
            {% else %}
                <h2 class="score-text">{{ industrialisation_score }} (Low)</h2>
            {% endif %}
        </div>
        <br>
        <div>
            <h3 class="score-title">Vegetation : industry ratio</h3>
            <div ></div>
        </div>
    </div>

    <div>
        <canvas id="myChart"></canvas>
    </div>
</div>

<!-- Import Leaflet.js Script -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<script src="https://leaflet.github.io/Leaflet.draw/src/Leaflet.draw.js"></script>
<script src="https://leaflet.github.io/Leaflet.draw/src/Leaflet.Draw.Event.js"></script>
<script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Feature.js"></script>
<script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.SimpleShape.js"></script>
<script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Rectangle.js"></script>
<script src="{{ url_for('static', filename='mapping.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    window.onload = function () {
        const labels = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
        ];
        const data = {
            labels: ['Industrialisation', 'Vegetation'],
            datasets: [{
                label: 'My First dataset',
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    '#388e3c',
                ],
                data: [Number("{{ industrialisation_score}}"), Number("{{ vegetation_score}}"), ],
                hoverOffset: 4,
            }]
        };

        const config = {
            type: 'doughnut',
            data: data,
        };

        var myChart = new Chart(
            document.getElementById('myChart'),
            config
        );

    }
</script>
{% endblock %}
