{% extends "__layout.html" %}

{% block pageheader %}
<link rel="stylesheet" href="{{ url_for('static', filename='side.css') }}">
<script>
    var lat = Number("{{ geocode[0] }}")
    var lon = Number("{{ geocode[1] }}")

    var coordinates = JSON.parse('{{ coordinates|safe }}')
</script>
{% endblock %}

{% block navigation %}
<li class="nav-item active">
    <a class="nav-link" href="#">Predictions <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/whyus">Why Us?</a>
</li>
{% endblock %}

{% block pagecontent %}
<div id="main-map"></div>

<div id="side-pane">
    <h3 id="side-pane-header">Details</h1>
    <div id="side-pane-content">Content</div>
</div>

<!-- Import Leaflet.js Script -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<script src="{{ url_for('static', filename='mapping.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
